body,html,div{margin: 0;	padding: 0;}
*{	text-decoration: none;	outline: none;}
body{
	font-size: 18px;
	display: flex;
	flex-direction: column;
}
h1,h2,h3,h4,h5,h6,p{
	padding: 0;
	margin: 0;
}
img{
	display: block;
}

.preloader{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgb(77, 37, 0);
	z-index: 10;
	transition: all 1s;
	opacity: 1;
	visibility: visible;
	display: flex;
	align-items: center;
}

.loader{
	width: 200px;
	height: 200px;
	border: 2px solid rgba(255,255,255,.8); 
	border-radius: 50%;
	position: relative;
	margin: auto;
	background: rgba(0,0,0,.5);
	animation: 4s preload3 infinite linear;
}

.loader-wrap{
/*	animation: 4s preload3 infinite linear;
*/	position: relative;
}





.loader-bg0{
	height: 100%;
	width: 100%;
	z-index: 1;
	background: url(../images/preloader0.jpg) center center no-repeat;
	background-size: cover;
	position: absolute;
	bottom: 0;
	border-radius: 50%;
}

/*.loader-wrap1{
	animation: 10s preload1 infinite linear;
}*/
.loader-bg1{
	animation: 4s preload1 infinite linear;
	height: 100%;
	width: 100%;
	z-index: 2;
	background: url(../images/preloader1.png) center center no-repeat;
	position: absolute;
	top: 0;
	transform: translate(-50%, 0%);
	left: 50%;
}

.loader-bg2{
	animation: 4s preload2 infinite linear;
	height: 100%;
	width: 100%;
	z-index: 2;
	background: url(../images/preloader2.png) center center no-repeat;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0%);
}

@keyframes preload2 {
	0%{
		height: 200px;
		width: 200px;
	}
	13%{
		width: 250px;
		height: 250px;
	}
	25%{
		width: 200px;
		height: 200px;
	}
}

@keyframes preload1 {
	25%{
		height: 200px;
		width: 200px;
	}
	33%{
		width: 250px;
		height: 250px;
	}
	50%{
		width: 200px;
		height: 200px;
	}
}
@keyframes preload3 {
	50%{
			transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}






/*.inLoader{
	animation: 1s spin infinite linear;
	animation-duration: 4s .2s ;
	width: 100%;
	height: 100%;
	border: 10px solid rgba(0,0,0,1);
	border-radius: 50%;
	border-top-color: #08DAD0;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}*/

*.done{
	opacity: 0;
	visibility: hidden;
}

@keyframes spin {
	from{
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100%{
	transform: translate(-50%, -50%) rotate(360deg);
	}
}




/*Start Header*/


header{
	width: 100%;
	height: 100vh;
	background: linear-gradient(to right, rgba(153, 102, 51, .85) 0%, rgba(204, 153, 102, .35) 100%),
	url("../images/header-bg.jpg") center center no-repeat;
	background-size: cover;
	display: flex;
}

.header-wrap{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.menu-wrap{
	padding: 5px;
	transition: all .5s;
	width: 100%;
	position: fixed;
	left: 50%;
	transform: translate(-50%);
	z-index: 1;

}
.nav-menu{
	transition: all .5s;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	flex-grow: 1;
	width: 100%;
	max-width: 1200px;
	background: rgba(255,255,255,.0);
}
.scrolled.menu-wrap{
	color: #fff;
	padding: 0;
	background: rgba(0,0,0,.5);
}
.menu-item{
	transition: all .4s;
	color: #333B46;
	padding: 5px 15px;
	font-family: 'Lobster', sans-serif;
	font-size: 24px;
	border-bottom: 3px solid rgba(0,0,0,0);
}
.scrolled .menu-item{
	color: #fff;
	font-size: 22px;
}
.head .menu-item:nth-child(1){
	border-bottom: 3px solid #fff;
}
.portfolio .menu-item:nth-child(2){
	border-bottom: 3px solid #fff;
}
.contacts .menu-item:nth-child(3){
	border-bottom: 3px solid #fff;
}


.content{
	perspective: 900px;	
	border-radius: 5px 0 0 5px;
/*	display: flex;*/
	display: none;
	margin-left:  auto;
	box-shadow: 2px 3px 10px rgba(0,0,0,.8)
}

.logotype{
	backface-visibility: inherit;
	opacity: 1;
	height: 300px;
	margin: 0 auto;
	border-radius: 50%;
	transform: translate(-50%) rotateX(0deg) rotateY(180deg);
	box-shadow: -2px 1px 10px rgba(0,0,0,.8);
	animation: 3s spin infinite linear;
}


.header-text{
	position: relative;
	max-width: 320px;
	padding: 10px;
	margin-left: -150px;
	text-align: right;
}
.h1{
	font-family: 'Tahoma', sans-serif;
	color: #000;
	font-size: 40px;
	margin: 20px 0;	
}



.reset-animation{
	transition: all .5s;
	background: #fff;
	margin: auto auto 20px;
	font-size: 30px;
	padding: 10px 30px;
	font-weight: 600;
	cursor: pointer;
	border: 2px solid rgba(255,0,255,0);
}
.reset-animation:hover{
	border: 2px solid rgba(255,255,255,1);
	background: #000;
	color: #fff;
}



.none{
	color: rgba(0,0,0,0) !important ;
}

.animated-text{
	border: 2px solid rgba(0,0,0,.1);
	margin: 0 auto 20px;
	font-size: 50px;
	color: #fff;
	padding: 15px 5px 12px;
	position: relative;
	overflow: hidden;
}

.an-top-block{
	display: flex;
}

.first-block{
	padding: 0px;
	overflow: hidden;
	position: absolute;
	right: 50%;
}

.second-block{
	padding: 0px;
	overflow: hidden;
	position: absolute;
	left: 50%;
}

.first-text{
	transition: all .8s 1s;
	transform: translate(100%, 0%);
}

.do .first-text{
	transition: all 1s .3s;
	transform: translate(0%, 0%);
}

.second-text{
	transition: all .8s 1s;
	transform: translate(-100%, 0%);
}
.do .second-text{
	transition: all 1s .3s;
	transform: translate(0%, 0%);
}
.second-op-block,  .first-op-block{	opacity: 0;}

.do .center-line{
	transition: all 2.2s;
	transform: translate(-50%, 100%);
}
.center-line{
	transition: all 2s .6s;
	background: #fff;
	height: 200%;
	width: 8px;
	transform: translate(-50%, -50%);
	position: absolute;
	bottom: 0;
	left: 50%;
}

.do .bottom-line{
	transition: all 1s .6s;
	height: 8px;
	width: 100%;
}
.bottom-line.zero{
	transition: all .4s;
	height: 0;
}

.bottom-line{
	transition: all 1s;
	background: #fff;
	height: 5px;
	width: 0%;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0%);
}






.c1 {
	width: 100%;
	height: 900px;
	background: rgba(0,0,0,.1);
	border-bottom: 5px solid #000;
}

















#sandwich {
	height: 35px;
}
#sandwich.active .sw_top {
	top: 15px;
	transform: rotate(140deg);
}
#sandwich.active .sw_bottom {
	top: 10px;
	transform: rotate(-140deg);
}
#sandwich.active .sw_footer {
	opacity: 0;
	top: 0;
	transform: rotate(180deg);
}

.sw_top {
	position: relative;
	top: 0;
	right: 0;
	width: 50px;
	height: 5px;
	background: #fff;
	border: none;
	border-radius: 4px 4px 4px 4px;
	transition: transform 0.5s, top 0.2s;
	transition: all 0.5s;
	transition-delay: 0.1s;
}
.sw_bottom {
	position: relative;
	width:50px;
	height: 5px;
	top: 10px;
	right: 0;
	background: #fff;
	border: none;
	border-radius: 4px 4px 4px 4px;
	transition: all 0.5s;
	transition-delay: 0.1s;
}
.sw_footer {
	position: relative;
	width: 50px;
	height: 5px;
	top: 20px;
	right: 0;
	background: #fff;
	border: none;
	border-radius: 4px 4px 4px 4px;
	transition: all 0.5s;
	transition-delay: 0.1s;
}
















/*block midia */
@media screen and (max-width: 850px) {

	.mobMenu{

	}

	.mobMenu.active{

	}
	
}
/* End block midia */

