@font-face {
    font-family: 'Audiowide';
    src: url('../fonts/Audiowide-Regular.woff2') format('woff2'),
    url('../fonts/Audiowide-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
  transition: .3s;
}



footer:hover .links{
  color : #fff;
}

#wrapper {
    overflow: hidden;
    font-size: 16px;
    display: block;
    background-color: rgba(128,128,128, .4);
    border: 2px solid rgba(128,128,128, .4) ;
    border-top: none;
    border-radius: 0 0 20px 20px;
    margin: 0 auto ;
    max-width: 1024px;
    height: 100%;

  }

a {
  text-decoration: none !important;
  color: black;

}




/** Begin Foter **/

  #footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 40px auto 0;
    max-width: 900px;
    height: 90px;
    background-color: gray;
    font: 18px "Lucida Grande", sans-serif;
  }
  
footer>* {
  padding: 0 20px;
  display: block;
  color: rgba(0,0,0,.6);
}



/** End Foter **/



/** block midia **/
@media screen and (max-width: 713px) {
    .nav__item {
      font: 24px 'Audiowide', cursive, sans-serif;      
    } 
    
}

@media screen and (max-width: 320px) {
  .nav{
    flex-direction: column;

  }

  
}
/** End block midia **/































