@font-face {
	font-family:"RobotoReg";
	src:url(../fonts/RobotoRegular/RobotoRegular.ttf);
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 14px;
	/*min-width: 320px;*/
	min-width: 970px;
	position: relative;
	line-height: 1.65;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	overflow-x: hidden;
	color: #333;
}

input, textarea{
	border: #666 1px solid;
	outline: none;
}
input:focus:required:invalid, textarea:focus:required:invalid{
	border-color: red;
}
input:required:valid, textarea:required:valid{
	border-color: green;
}

/*Стандартные классы */
.page_content{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sect-wide{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sect-wrap{
	width: 100%;
	max-width: 980px;
	padding: 0 10px;
}
/*Конец стандартных класов*/




.header{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-top{
	width: 100%;
	max-width: 980px;
	padding: 28px 10px 17px;
	display: flex;
	justify-content: space-between;
}

.logo{
	width: 286px;
	text-decoration: none;
}
.logo:hover {
	text-decoration: none;
}

.logo-text{
	text-transform: uppercase;
	color: #cc3b34;
	font-size: 0.857em;
	margin: 10px 0 5px;
}

.menu {
	margin: 0;
	padding: 0;
	justify-content: space-between;
	height: 100%;
	align-items: center;
	display: flex;
	list-style-type: none;
}

.menu li{
	flex-shrink: 0;
	margin-left: 2px;
}
.menu a{
	line-height: 30px;
	height: 30px;
	display: block;
	color: #323232;
	text-transform: uppercase;
	padding: 0 7px;	
	border-radius: 3px;
	transition: all .2s;
	position: relative;
}
.menu a:hover{
	text-decoration: none;
}

.header-menu .active a{
	color: #fff;
	background: #cc3b34;
}
.header-menu .active a::after{
	display: block;
	position: absolute;
	left: 50%;
	bottom: -4px;
	transform: translate(-50%, 0) rotate(45deg);
	content: '';
	height: 8px;
	width: 8px;
	background: #cc3b34;
}
.header-menu li:hover a{
	color: #fff;
	background: #cc3b34;
}

.header-info-container{
	background-color: #6c6666;
	width: 100%;
	margin-top: 1px;
	display: flex;
	justify-content: center;
}

.info{
	margin: 0;
	list-style-type: none;
	display: flex;	
}
.header-info{
	width: 100%;
	max-width: 980px;
	padding: 0 10px;
}


.info li{
	display: flex;
	justify-content: center;
	flex-grow: 1;
	font-size: .95em;
}

.header-info li{
	border-left: 1px solid #7d7878;
}



.info span{
	font-weight: 400;
	color: #fff;
	padding: 19px 0px 17px 25px;
	background-repeat: no-repeat;
	background-position: -0 50%;
}
.mobile-number a{
	font-weight: 400;
	color: #fff;
	background-repeat: no-repeat;
	background-position: 0 50%;
	border-bottom: 1px dashed #fff;
	transition: all .2s;
}
.mobile-number a:hover{
	text-decoration: none;
	color: #ffe09f;
	border-color: #ffe09f;
}
.mobile-number.viber{
	border: none;
}


.address span{
	padding-left: 19px;
	background-image: url(../img/icons/map.png);
}
.mobile-number.viber span{
	background-image: url(../img/icons/viber.png);
}
.mobile-number.num span {
	padding-left: 19px;
	margin-left: 6px;
	background-image: url(../img/icons/phone.png);
}

.schedule span{
	background-image: url(../img/icons/clock.png);
}


.btn-form{
	width: 100%;
	text-transform: uppercase;
	background-color: #3b3333;
	color: #ffe09f;
	height: 100%;
	justify-content: center;
	display: flex;
	align-items: center;
	transition: all .2s;
	cursor: pointer;
}
.btn-form:hover{
	background: #413a3a;
}

.btn-form-text{
	line-height: 1.2em;
	border-bottom: 1px dashed #ffe09f;
}



.breadcrumb{
	padding: 5px 0;
	color: #3d3d3d;
	font-family: "PT Sans", sans-serif;
	font-size:  0.85em;
}
	
.breadcrumb a{
	color: #9f9f9f;
}
.breadcrumb a svg{
	font-size: .8em;
}

.main-h{
	padding-bottom: 10px;
	font-weight: 700;
	font-size: 1.7em;
	display: block;
	border-bottom: 1px solid #dfdfdf;
}

/*Отзывы*/
.reviews{
	margin-bottom: 30px;
}

.reviews-container{
	display: flex;
	justify-content: space-between;

}
.reviews-item{
	cursor: pointer;
	position: relative;
	border: 4px solid #dddedb;
	border-radius: 5px;
	max-height: 228px;
	overflow: hidden;
}

.zoom{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*Футер*/
.footer{
	background-color: #3b3333;
}

.footer-top{
	display: flex;
	padding: 60px 0;
}

.footer-menu-container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	margin-left: 10px;
}

.footer-menu{
	height: auto;
	margin-left: auto;
}
.footer-menu li{
	flex-shrink: 0;
}

.footer-menu a{
	color: #fff;
	text-decoration: underline;
}
.footer-menu a:hover{
	text-decoration: none;
}


.footer-info{
	width: 100%;
	/*margin-left: 15px;*/
	padding: 0;
	justify-content: space-between;
}
.footer-info li{
	color: #fff;
	justify-content: flex-end;
}

.footer-info .phones{

	justify-content: space-between;
}


.footer-info .address span{
	padding-left: 19px;
	background-image: url(../img/icons/map_red.png);
}

.footer-info .phones span:last-child{
	padding-left: 19px;
	margin-left: 6px;
	background-image: url(../img/icons/phone_red.png);
}



.footer-info span{
	padding-top: 0;
	padding-bottom: 0;
}
.footer-info a{
	color: #fff;
}
.footer-info span{
	color: #fff;
}




.footer-bottom-wrap{
	background-color: #272121;
}
.footer-bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rights{
	font-size: .86em;
	color: #929191;
}
.rights a{
	margin-left: 10px;
	color: #ffe09f;
}

.social{
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
}

.social a{
	display: inline-block;
	margin-left: 10px;
	box-shadow: 0px 0px 5px rgba(255, 224, 159,.0);
	transition: all .2s;
}


.social a:hover{
	box-shadow: 0px 1px 5px rgba(255, 224, 159,.6);
}

.footer-bottom .btn-form{
	padding: 18px 18px;
	width: auto;
	display: flex;
	align-items: center;
	background-color: #cc3b34;
	color: #fff;
}

.footer-bottom  .btn-form:hover{
	background-color: #b6352e;
}

