@font-face {
	font-family:"RobotoReg";
	src:url(../fonts/RobotoRegular/RobotoRegular.ttf);
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 14px;
	/*min-width: 320px;*/
	min-width: 970px;
	position: relative;
	line-height: 1.65;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	/*overflow-x: hidden;*/
	color: #333;
}

input, textarea{
	border: #666 1px solid;
	outline: none;
}
/*input:focus:required:invalid, textarea:focus:required:invalid{
	border-color: red;
}
input:required:valid, textarea:required:valid{
	border-color: green;
}*/

/*Стандартные классы */
.page_content{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.page_content .main-h{
	font-size: 1.7em;
}


.sect-wide{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sect-wrap{
	width: 100%;
	max-width: 980px;
	padding: 0 10px;
}

.main-h{
	text-transform: uppercase;
	padding-bottom: 10px;
	margin-bottom: 40px;
	font-weight: 700;
	font-size: 2.57em;
	display: block;
	border-bottom: 1px solid #dfdfdf;
}
/*Конец стандартных класов*/




.header{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-top{
	width: 100%;
	max-width: 980px;
	padding: 28px 10px 17px;
	display: flex;
	justify-content: space-between;
}

.logo{
	width: 286px;
	text-decoration: none;
}
.logo:hover {
	text-decoration: none;
}

.logo-text{
	text-transform: uppercase;
	color: #cc3b34;
	font-size: 0.857em;
	margin: 10px 0 5px;
}

.menu {
	margin: 0;
	padding: 0;
	justify-content: space-between;
	height: 100%;
	align-items: center;
	display: flex;
	list-style-type: none;
}

.menu li{
	flex-shrink: 0;
	margin-left: 2px;
}
.menu a{
	line-height: 30px;
	height: 30px;
	display: block;
	color: #323232;
	text-transform: uppercase;
	padding: 0 7px;	
	border-radius: 3px;
	transition: all .2s;
	position: relative;
}
.menu a:hover{
	text-decoration: none;
}

.header-menu .active a{
	color: #fff;
	background: #cc3b34;
}
.header-menu .active a::after{
	display: block;
	position: absolute;
	left: 50%;
	bottom: -4px;
	transform: translate(-50%, 0) rotate(45deg);
	content: '';
	height: 8px;
	width: 8px;
	background: #cc3b34;
}
.header-menu li:hover a{
	color: #fff;
	background: #cc3b34;
}

.header-info-container{
	background-color: #6c6666;
	width: 100%;
	margin-top: 1px;
	display: flex;
	justify-content: center;
}

.info{
	margin: 0;
	list-style-type: none;
	display: flex;	
}
.header-info{
	width: 100%;
	max-width: 980px;
	padding: 0 10px;
}


.info li{
	display: flex;
	justify-content: center;
	flex-grow: 1;
	font-size: .95em;
}

.header-info li{
	border-left: 1px solid #7d7878;
}



.info span{
	font-weight: 400;
	color: #fff;
	padding: 19px 0px 17px 25px;
	background-repeat: no-repeat;
	background-position: -0 50%;
}
.mobile-number a{
	font-weight: 400;
	color: #fff;
	background-repeat: no-repeat;
	background-position: 0 50%;
	border-bottom: 1px dashed #fff;
	transition: all .2s;
}
.mobile-number a:hover{
	text-decoration: none;
	color: #ffe09f;
	border-color: #ffe09f;
}
.mobile-number.viber{
	border: none;
}


.address span{
	padding-left: 19px;
	background-image: url(../img/icons/map.png);
}
.mobile-number.viber span{
	background-image: url(../img/icons/viber.png);
}
.mobile-number.num span {
	padding-left: 19px;
	margin-left: 6px;
	background-image: url(../img/icons/phone.png);
}

.schedule span{
	background-image: url(../img/icons/clock.png);
}


.btn-form{
	width: 100%;
	text-transform: uppercase;
	background-color: #3b3333;
	color: #ffe09f;
	height: 100%;
	justify-content: center;
	display: flex;
	align-items: center;
	transition: all .2s;
	cursor: pointer;
}
.btn-form:hover{
	background: #413a3a;
}

.btn-form-text{
	line-height: 1.2em;
	border-bottom: 1px dashed #ffe09f;
}



/*Контент Our Team*/

.breadcrumb{
	padding: 5px 0;
	color: #3d3d3d;
	font-family: "PT Sans", sans-serif;
	font-size:  0.85em;
}
	
.breadcrumb a{
	color: #9f9f9f;
}
.breadcrumb a svg{
	font-size: .8em;
}



.staff{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.staff .staff-item{
	margin-bottom: 65px;
}

.staff-item{
	position: relative;
	display: flex;
	flex-wrap: wrap;
}


.staff-item h4{
	margin: 24px 0 16px;
	font-weight: 800;
	font-size: 1.286em;
	line-height: 1.2em;
}

.staff-item p{
	margin: 0 0 6px;
}
p.stf-important{
	text-transform: uppercase;
	color: #cc3b34;
}

.experience{
	margin-bottom: 12px;
}
.experience span{
	font-weight: 700;
}


.team-btn{
	margin-top: auto;
	text-transform: uppercase;
	border: none;
	padding: 6px 20px;
	color: #fff;
	background-color: #cc3b34;
}


.stf-main{
	height: 100%;
	max-width: 286px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.stf-photo{
	border: 10px solid #eeefed;
	height: 344px;
	width: 100%;
	background-position: center bottom;
	background-size: 98% auto;
	background-repeat: no-repeat;
	background-color: #dddedb;
}

.staff-item-1 .stf-photo{
	background-image: url(../img/team/team_1.jpg);
}
.staff-item-2 .stf-photo{
	background-image: url(../img/team/team_2.jpg);
}
.staff-item-3 .stf-photo{
	background-image: url(../img/team/team_3.jpg);
}
.staff-item-4 .stf-photo{
	background-image: url(../img/team/team_4.jpg);
}

.stf-sub{
	display: none;
	max-width: 240px;
	flex-direction: column;
}
.on .stf-sub{
	display: flex;
	margin-left: 20px;
}

.stf-sub h4{
	font-weight: 700;
	margin: 0 0 7px;
	font-size: 1.14em;
}

.stf-sub p{
	margin-bottom: 16px;
}
.skill{
	padding-left: 6px;
	list-style-type: none;
	margin-bottom: 15px;
}
.skill li{
	background-image: url(../img/icons/checkMark.png);
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding-left: 28px;
}

.certificates{
	margin-top: auto;
}
.certificates h4{
	margin-bottom: 15px;
}

.certificates-wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
 .crt-item{
 	cursor: pointer;
	max-width: 48%;
	overflow: hidden;
	border-radius: 4px;
	display: flex;
	justify-content: center;
}

.crt-item img{
	height: 100%;
}


.team-modal.on{
	display: flex;
}

.team-modal{
	z-index: 4;
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.65);
}

.team-modal .staff-item{
	max-width: 100%;
	padding: 40px 40px 25px;
	background-color: #fff;
	border-radius: 4px;
}

.team-modal .team-btn{
	display: none;
}


.team-modal .close{
	border-radius: 50%;
	height: 36px;
	width: 36px;
	font-size: 22px;
	top: -16px;
	right: -16px;
}







/*Заявка*/
.signUp-block-wrap{
	padding: 85px 0;
	background-image: url(../img/form_bg.png);
	background-position: center center;
	background-size: cover;
}

.signUp-block .main-h{
	margin-bottom: 24px;
}

.signUp-block p{
	text-align: center;
	font-size: 1.285em;
	color: #676767;
	margin-bottom: 18px;
}

.phone{
	width: 100%;
	max-width: 550px;
	display: flex;
	justify-content: space-between;
	font-family: "PT Sans", sans-serif;
	font-size: 1.43em;
	margin: 0 auto 30px;
}

.phone span{
	background-image: url(../img/icons/smartphone.png);
	background-position: 0 50%;
	background-repeat: no-repeat;
	padding-left: 30px;
}

.signUp-form{
	display: flex;	
	margin-bottom: 20px;
}
.signUp-form input{
	transition: all .3s;
	flex-grow: 1;
	margin-right: 24px;
}
.signUp-input[type='text']{
	padding: 6px 0;
	text-indent: 10px;
	border-radius: 4px;
	border: 2px solid #e1e0e0;
	color: #373737;
}
.signUp-input[type='text']:focus{
	color: #202020;
	border-color: #9c9c9c;
}

.signUp-input[type='submit']{
	flex-grow: .4;
	text-transform: uppercase;
	font-size:  1.14em;
	color: #fff;
	border-radius: 4px;
	background-color: #cc3b34;
	border: none;
}
.signUp-input[type='submit']:hover{
	background-color: #c84a44;
}
.signUp-input[type='submit']:active{
	background-color: #c2312a;
}


/*Отзывы*/
.reviews{
	margin-bottom: 90px;
}



.reviews-container{
	display: flex;
	justify-content: space-between;
	padding-bottom: 54px;

}
.reviews-item{
	cursor: pointer;
	position: relative;
	border: 4px solid #dddedb;
	border-radius: 5px;
	/*max-height: 228px;*/
	max-width: 160px;
	overflow: hidden;
}

.reviews-item img{
	width: 100%;
}

.reviews-item:hover .zoom{
	transform: scale(1.1) translate(-50%, -50%);
}



.zoom{
	transition: all .3s;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.slick-arrow{
	position: absolute;
	bottom: 0;
	transform: translate(-50%, 0);
	z-index: 2;
	height: 24px;
	width: 24px;
	font-size: 18px;
	background-color: #3b3333;
	border: none;
	color: #fff;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.slick-arrow:hover{
	background-color: #cc3b34;
	outline: none;
}
.slick-arrow-prev{
	left: calc(50% - 18px);
}
.slick-arrow-next{
	left: calc(50% + 18px);
}

.slick-slide > div{
	display: flex;
	justify-content: center;
}


.rv-bottom-line{
	position: relative;
	top: -13px;
	width: 100%;
	height: 3px;
	border-bottom: 1px solid #d9d9d9;
	border-top: 1px solid #d9d9d9;
}



/*Карта*/
.googleMap{
	width: 100%;
	height: 420px;
}


/*Футер*/
.footer{
	background-color: #3b3333;
}

.footer-top{
	display: flex;
	padding: 60px 0;
}

.footer-menu-container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	margin-left: 10px;
}

.footer-menu{
	height: auto;
	margin-left: auto;
}
.footer-menu li{
	flex-shrink: 0;
}

.footer-menu a{
	color: #fff;
	text-decoration: underline;
}
.footer-menu a:hover{
	text-decoration: none;
}


.footer-info{
	width: 100%;
	/*margin-left: 15px;*/
	padding: 0;
	justify-content: space-between;
}
.footer-info li{
	color: #fff;
	justify-content: flex-end;
}

.footer-info .phones{

	justify-content: space-between;
}




.footer-info .num span{
	background-image: url(../img/icons/phone_red.png);
}
.footer-info .address span{
	background-image: url(../img/icons/map_red.png);
}


.footer-info span{
	padding-top: 0;
	padding-bottom: 0;
}
.footer-info a{
	color: #fff;
}
.footer-info span{
	color: #fff;
}




.footer-bottom-wrap{
	background-color: #272121;
}
.footer-bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rights{
	font-size: .86em;
	color: #929191;
}
.rights a{
	margin-left: 10px;
	color: #ffe09f;
}

.social{
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
}

.social a{
	display: inline-block;
	margin-left: 10px;
	box-shadow: 0px 0px 5px rgba(255, 224, 159,.0);
	transition: all .2s;
}


.social a:hover{
	box-shadow: 0px 1px 5px rgba(255, 224, 159,.6);
}

.footer-bottom .btn-form{
	padding: 18px 18px;
	width: auto;
	display: flex;
	align-items: center;
	background-color: #cc3b34;
	color: #fff;
}

.footer-bottom  .btn-form:hover{
	background-color: #b6352e;
}








.zoom-modal{
	z-index: 5;
	background-color: rgba(0,0,0,.65);
	position: fixed;
	height: 100%;
	width: 100%;
	display: none;
	justify-content: center;
	align-items: center;
}
.zoom-modal.on{
	display: flex;
}

.zoom-modal-wrap{
	position: fixed;

	max-height: 98vh;
}
.zoom-modal-wrap img{
	max-height: 98vh;
	max-width: 100vw;
}


.close{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	position: absolute;
	top: 0;
	right: 0;
	height: 40px;
	width: 40px;
	background-color: #cc3b34;
	color: #fff;
	transition: all .3s;
	border: 1px solid #cc3b34;
}
.close:hover{
	background-color: #fff;
	color: #cc3b34;
}

.zoom-modal .close{
	border-radius: 0 0 0 50% ;
	border-left: 2px solid #cc3b34;
	border-bottom: 2px solid #cc3b34;
}