.sandwich{
	display: flex;
}
.nav__wrap{
}
.nav__logo-img{
	height: 50px;
}
.nav__items-wrap{
	transition: all .5s;
	width: 100%;
	position: absolute;
	left: 0;
	top: 50%;
	padding-right: 60px;
	box-sizing: border-box;
	transform: translate(100%, -50%);
}
.nav_mobile-menu_active .nav__items-wrap{
	transform: translate(0, -50%);
}

.nav__item_main-item{
	font-size: 18px;
	position: relative;
}
.nav_mobile-menu_active .nav__item_main-item{
	transform: translate(-120%, 0);
}




@media screen and (max-width: 440px) {
	.nav__logo-img{
		max-height: 35px;
		padding: 4px;
	}
	.nav__item{
		font-size: 14px;
		margin: 0 5px;
	}
}