body, html, div, h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
}

body{
	font-family: Rubik, sans-serif;
	padding-bottom: 200px;
}

/*Новая секция*/
.сustomerProblem{
	width: 100%;
/*	max-width: 1240px;
*/	padding: 0;
	margin: 0 auto;
}


.сustomerProblem > h2, .customerCases > h2 {
	font-weight: 400;
	font-size: 42px;
	text-align: center;
	margin: 0 auto ;
	padding: 100px 15px 50px;
}

/*Блоки с проблемами*/
.cp-problem{
	float: left;
	width: 50%;
}

/*Левая колонка*/
.cp-wr-colLeft{
	margin-left: auto;
}

/*Подсветка блоков*/
.cp-problems .cp-problem:nth-child(2),
.cp-problems .cp-problem:nth-child(4){
	background: #F7F7F7;
} 

.clearfix{
	clear: both;
}

/*Обертка внутри блока с проблемами*/
.cp-problem-wrap{
	width: 100%;
	max-width: 620px;
	border: 0px solid #000;
	position: relative;
	box-sizing: border-box;
	height: 576px;
	padding: 50px 70px;
	box-sizing: border-box;
}


/*Заголовок проблемы*/
.cp-title{
	height: 130px;
	font-size: 24px;
}
.cp-bold{
	font-size: 18px;
	font-weight: 500;
}
.cp-text{
	font-size: 16px;
	margin: 30px 0 0/*80px*/;
}

/*Красный блок с советом*/
.cp-advice{
	position: absolute;
	bottom: 50px;
	left: 70px;
	font-size: 18px;
	font-weight: 500;
	color: #dc3522;
	max-width: 450px;
}
.cp-advice > * {
	vertical-align: middle;
	display: inline-block;
}
.cp-centerLine{
	margin: 0 20px;
	background: #dc3522;
	height: 60px;
	width: 1px;
}

.cp-advice-text{
	max-width: 320px;
}

/*Нижний блок(последний блок сеции)*/
.cp-moreInfo{
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 15px 100px;
	font-size: 24px;
	max-width: 550px;
}
.cp-moreInfo h3{
	padding-bottom: 10px;
	margin: 50px 0 0;
	text-align: center;
	font-weight: 400;
	font-size: 36px;
}
.cp-moreInfo ul li{
	margin-top: 35px;
	font-size: 24px;
	font-weight: 300;
}
.cp-moreInfo ul{
	padding-left: 22px;
}



/***************   Кейсы клиентов(слайдер)   ***************/


.cc-slider{
	margin: 0 auto;
	max-width: 1000px;
}
.cc-slide{
	padding: 20px 0;
}

.slide-wrap{
	margin: 0 auto;
	max-width: 1000px;
}


.slide-wrap >  *{
	display: inline-block;
}
.sl-profile{
	margin: 0 40px 0 90px;
	text-align: center;
}
.sl-profile img{
	margin: 0 auto;
}

.name{
	margin-top: 15px;
	font-size: 16px;
}
.post, .company{
	font-size: 12px;
}

.sl-review{
	margin-top: 20px;
	vertical-align: top;
}
.sl-title{
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 10px;
}

.sl-review p {
	margin-left: 30px;
	max-width: 560px;
	font-size: 16;
}


.slick-arrow{
	z-index: 5;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

.slick-arrow-prev{
	left: 0;
}

.slick-arrow-next{
	right: 0;
}




/***************   Media-заросы   ***************/
@media screen and (max-width: 1000px) {
	.cp-problem-wrap{
		padding: 40px 50px;
		height: 576px;
	}
	.cp-advice{
		left: 50px;
		bottom: 35px;
	}
	.cp-advice{
		font-size: 16px;
	}
	.cp-centerLine{
		margin: 0 10px;
	}
	.cp-advice-text{
		padding-right: 20px;
	}
}

@media screen and (max-width: 940px) {
	.сustomerProblem > h2, .customerCases > h2{
		font-size: 38px;
	}
	.cp-problem-wrap{
		height: 556px;
		padding: 30px 35px;
	}

	.cp-advice > * {
		vertical-align: baseline;
		display: block;
	}
	.cp-advice{
		left: 40px;
		bottom: 35px;
	}
	.cp-centerLine{
		margin: 15px 0;
		width: 60px;
		height: 1px;
	}
	.cp-title{
		font-size: 20px;
	}
}


@media screen and (max-width: 900px) {
	.sl-profile{
		margin: 35px;
	}
}

@media screen and (max-width: 820px) {
	.сustomerProblem > h2, .customerCases > h2{
		font-size: 36px;
	}

	.cp-moreInfo h3{
		font-size: 32px;
	}
	.cp-moreInfo ul li{
		margin-top: 30px;
		font-size: 22px;
	}

	.cp-centerLine{
		margin: 10px 0;
	}
	.cp-problem{
		float: none;
		width: 100%;
	}

	.cp-advice{
		left: 40px;
		bottom: 40px;
	}
	.cp-problem-wrap{
		margin: 0 auto;
	}
	.cp-problems .cp-problem:nth-child(4){
		background: none;
	}
	.cp-problems .cp-problem:nth-child(2),
	.cp-problems .cp-problem:nth-child(5){
		background: #F7F7F7;
	} 
	.cp-title{
		font-size: 22px ;
		height: 100px;
	}

	.cp-problem-wrap{
		height: 490px;
		padding: 20px 30px;
	}
}

@media screen and (max-width: 540px) {
	.сustomerProblem > h2, .customerCases > h2{
		font-size: 32px;
		padding: 80px 1 40px;
	}
	.cp-moreInfo h3{
		font-size: 28px;
		margin-top: 40px;
	}
	.cp-moreInfo ul li{
		margin-top: 25px;
		font-size: 20px;
	}


	.cp-title{
		font-size: 20px ;
		height: 90px;
	}
	.cp-text{
		font-size: 15px;
	}

}


@media screen and (max-width: 440px) {
	.сustomerProblem > h2, .customerCases > h2{
		font-size: 28px;
	}

	.cp-moreInfo h3{
		font-size: 26px;
	}
	.cp-moreInfo ul li{
		font-size: 18px;
	}

	.cp-advice img{
		height: 60px;
	}
	.cp-centerLine{
		width: 40px;
	}
	.cp-title{
		font-size: 18px ;
	}
}

@media screen and (max-width: 380px) {
	.сustomerProblem > h2{
		font-size: 26px;
		padding: 60px 0 25px;
		}

		.cp-moreInfo h3{
			font-size: 24px;
		}
		.cp-moreInfo ul li{
			font-size: 17px;
			margin-top: 15px;
		}

		.cp-centerLine{
			width: 40px;
		}
		.cp-title{
			font-size: 16px ;
			height: 80px;
		}

		.cp-text{
			font-size: 14px;
		}
	}