body, html, div, h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
}

.сustomerProblem{
	outline: 1px solid #000;
	font-family: Rubik;
	width: 100%;
/*	max-width: 1240px;
*/	padding: 0;
	margin: 0 auto;
}

.сustomerProblem > h2{
	font-weight: 400;
	font-size: 42px;
	text-align: center;
	margin: 0 auto ;
	padding: 100px 0 50px;
}
.cp-problem{
	float: left;
	width: 50%;
}

.cp-wr-colLeft{
	margin-left: auto;
}


.cp-problems .cp-problem:nth-child(2),
.cp-problems .cp-problem:nth-child(4){
	background: #F7F7F7;
} 
.clearfix{
	clear: both;
}

.cp-problem-wrap{
	width: 100%;
	max-width: 620px;
	border: 0px solid #000;
	position: relative;
	box-sizing: border-box;
	height: 576px;
	padding: 50px 70px;
	box-sizing: border-box;
}


.cp-title{
	height: 130px;
	font-size: 24px;
}
.cp-bold{
	font-size: 18px;
	font-weight: 500;
}
.cp-text{
	font-size: 16px;
	margin: 30px 0 0/*80px*/;
}
.cp-advice{
	position: absolute;
	bottom: 50px;
	left: 70px;
	font-size: 18px;
	font-weight: 500;
	color: #dc3522;
	max-width: 450px;
}

.cp-advice > * {
	vertical-align: middle;
	display: inline-block;
}
.cp-centerLine{
	margin: 0 20px;
	background: #dc3522;
	height: 60px;
	width: 1px;
}


.cp-advice-text{
	max-width: 320px;
}







@media screen and (max-width: 1000px) {
	.cp-problem-wrap{
		padding: 40px 50px;
		height: 576px;
	}
		.cp-advice{
		left: 50px;
		bottom: 35px;
	}
	.cp-advice{
		font-size: 16px;
	}
	.cp-centerLine{
		margin: 0 10px;
	}
	.cp-advice-text{
		padding-right: 20px;
	}

}

@media screen and (max-width: 940px) {
		.сustomerProblem > h2{
		font-size: 38px;
	}
	.cp-problem-wrap{
		height: 556px;
		padding: 30px 35px;
	}

	.cp-advice > * {
	vertical-align: baseline;
	display: block;
}
	.cp-advice{
		left: 40px;
		bottom: 35px;
	}
.cp-centerLine{
	margin: 15px 0;
	width: 60px;
	height: 1px;
}
.cp-title{
	font-size: 20px;
}

}


@media screen and (max-width: 820px) {
	.сustomerProblem > h2{
		font-size: 36px;
	}
	.cp-centerLine{
		margin: 10px 0;
	}
	.cp-problem{
	float: none;
	width: 100%;
}

	.cp-advice{
		left: 40px;
		bottom: 40px;
	}
.cp-problem-wrap{
	margin: 0 auto;
}
.cp-problems .cp-problem:nth-child(2){
	background: none;
}
.cp-problems .cp-problem:nth-child(1),
.cp-problems .cp-problem:nth-child(4){
	background: #F7F7F7;
} 
	.cp-title{
		font-size: 22px ;
		height: 100px;
	}

	.cp-problem-wrap{
		height: 490px;
		padding: 20px 30px;
	}
}

@media screen and (max-width: 540px) {
	.сustomerProblem > h2{
		font-size: 32px;
		padding: 80px 0 40px;
	}
		.cp-title{
		font-size: 20px ;
		height: 90px;
	}
	.cp-text{
		font-size: 15px;
	}

}


@media screen and (max-width: 440px) {
		.сustomerProblem > h2{
		font-size: 28px;
	}
	.cp-advice img{
		height: 60px;
	}
	.cp-centerLine{
		width: 40px;
	}
		.cp-title{
		font-size: 18px ;
	}
}

@media screen and (max-width: 380px) {
	.сustomerProblem > h2{
		font-size: 26px;
		padding: 60px 0 25px;
	}
	.cp-centerLine{
		width: 40px;
	}
	.cp-title{
		font-size: 16px ;
		height: 80px;
	}

	.cp-text{
		font-size: 14px;
	}
}