/*Modal windows*/
.modal-window{
	color: #fff;
	position: fixed;
	background: rgba(0, 204, 0, 1);
	padding: 10px 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
	font: 26px Arial,sans-serif;
	box-shadow: 3px 6px 40px rgba(0,0,0,1);
	z-index: 1000;
	display: flex;
	flex-direction: column;
}

.modal-window form{
	display: flex;
	flex-direction: column;
}


.modal-window > *{
	width: 300px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.modal-window input{
	margin: 0 auto;
}

.modal-window a{
	color: #000;
	font: 40px Arial,sans-serif;
	border: 1px solid #000;
	background: #fff;
}