/*Modal windows*/


.modal-window{
	color: #fff;
	position: fixed;
	background: #cccccc;
	padding: 10px 20px 0px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
	font: 20px Arial,sans-serif;
	z-index: 9999;
	display: flex;
	flex-direction: column;
}

.modal-window p {
	margin: 10px;
}

.modal-form{
	display: flex;
	flex-direction: column;
	width: 280px;
	margin: 0 auto;
	padding: 10px 10px 0;
}


.modal-form > *{
	outline: none;
	transition: all .3s;
	border: 2px solid rgba(0,0,0,0);
	box-sizing: border-box;
	margin-bottom: 15px;
	font: 18px Arial,sans-serif;
	padding: 2px 2px 2px 5px;
}

.modal-form > *:hover:not(.modal-button){
	border: 2px solid #33ccff;

}
.modal-form > *:focus:not(.modal-button){
	border: 2px solid #33ccff;
}	

.modal-email{
	width: 280px;
}
.modal-name{
	width: 180px;

}
.modal-message{
	max-width: 300px;
}

.modal-button{
	padding: 5px 0;
	width: 130px;
	background: #808080;
	border: 4px solid rgba(0,0,0,0);

}
.modal-button:hover{
	border: 4px solid #4d4d4d;
}

#close{
	height: 40px;
	position: relative;
	top: -40px;
	margin-left: auto;
}

#close.active .sw_top {
	top: 15px;
	right: 0px;
	transform: rotate(140deg);
}
#close.active .sw_bottom {
	top: 10px;
	right: 0px;
	transform: rotate(-140deg);
}