html, body, div{
	padding: 0;
	margin: 0;
}
body{
		background: #fff;
}
a{
	text-decoration: none;
}
img{
	display: block;
}


@font-face {
  font-family: "RobotoSlabReg";
  src: url("..//fonts/RobotoSlabRegular.ttf");
}
@font-face {
  font-family: "RobotoSlabBold";
  src: url("..//fonts/RobotoSlabBold.ttf");
}
@font-face {
  font-family: "ArialReg";
  src: url("..//fonts/ArialRegular.ttf");
}

/*Preloader*/
.preloader{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 10;
	transition: all 1s;
	opacity: 1;
	visibility: visible;
	display: flex;
	justify-content: center;
	display: none;
}

.loader{
	margin: auto 0;
	box-sizing: border-box;
	background: #00b7f4;
	width: 250px;
	height: 250px;
	position: relative;
	border-radius: 50%;
	z-index: 5;
}
.inLoader{
	animation-duration: 4s .2s ;
	border-top-color: #fff;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}

.inLoader2{
	position: relative;
	box-sizing: border-box;
	border: 8px solid #fff;
	border-top-color: #000;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	animation: 2s spin infinite linear;
	z-index: 1;
}
*.done{
	opacity: 0;
	visibility: hidden;
}
@keyframes spin {
	0%{
		transform: rotate(0deg);
	}	
	100%{
		transform: rotate(360deg);
	}
}
/*End Preloader*/



/*Header*/

header{
	flex-direction: column;
}

/*Navigation*/
.nav-color-wrap{
	background: #00b7f4;
	display: flex;
	justify-content: center;
}
nav{
	box-sizing: border-box;
	height: 60px;
	font: 22px RobotoSlabReg,sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10px 10px 10px;
	width: 100%;
	max-width: 1170px;
}

.items{
	display: flex;
	height: 100%;
	align-items: center;
}

.menu-item{
	border: 1px solid rgba(255,255,255,0);
	border-radius: 20px;
	padding: 2px 10px 3px;
	transition: all .5s;
	color: #fff;
	margin-left: 5px;
}
.menu-item:hover{
	border: 1px solid #fff;
	color: #ff8300;
}
/*End Navigation*/


.banner{
	box-sizing: border-box;
	background:linear-gradient(to bottom, rgba(0, 183, 244,.3), rgba(0, 183, 244,.2)),
	 url(../images/Banner.jpg) center center no-repeat;
	background-size: cover;
	margin: 10px auto 0;
	display: flex;
	justify-content: center;
	height: 100vh;
	max-height: 400px;
	width: 100%;
	max-width: 1170px;
	align-items: center;
}
.h1-wrap{
	width: 100%;
	background: rgba(0, 183, 244,.4);
}
h1{
	text-align: center;
	font: 100px RobotoSlapBold,sans-serif;
	color: #fff;
	margin: 0;
}






/*End Header*/





/*Content*/
.wrapper{
	box-sizing: border-box;
	padding: 15px;
	margin: 0 auto;
	width: 100%;
	max-width: 1170px;
	background: rgba(0,0,0,.0);
	display: flex;
	justify-content: space-between;
}
.content{
	flex-grow: 1;
	font: 32px RobotoSlabBold,sans-serif;
	font-weight: 600;
	color: #00b7f4;
}




/*News*/
.news{
	margin-left: 10px;
	width: 260px;
	box-shadow: 2px 1px 10px rgba(0,0,0,.5);
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.news h2{
	text-align: center;
	font: 26px RobotoSlabReg,sans-serif;
	color: #00b7f4;
	margin: 5px 0 10px 0 ;
}
.news-container{
	flex-grow: 1;
}
.post{
	display: flex;
	flex-direction: column;
	margin: 0 0 20px 0;
	padding: 10px 5px 25px;
}

.news h3{
	color: #000;
	font: 18px Roboto,sans-serif;
	font-weight: 600;
	margin: 0 0 5px 0;
}
.post-text{
	color: #7e7e7e;
	padding-left: 5px;
	font: 16px Roboto,sans-serif;
}
.post > div:last-child{
	display: flex;
	margin: 15px 0 0 0;
	padding: 0 0 0 5px;
}
.readMore{
	transition: all .5s;
	color: #fff;
	font: 16px Roboto,sans-serif;
	font-weight: 600;
	background: #00b7f4;
	display: block;
	margin: 0 15px 0 auto ;
	padding: 4px 7px;
	border-radius: 2px;
	cursor: pointer;
	border: 2px solid #00b7f4;
}
.readMore:hover{
	color: #00b7f4;
	background: #fff;
	border: 2px solid #00b7f4;
}

.news-date{
	cursor: pointer;
	color: #7e7e7e;
	font: 14px Roboto,sans-serif;
	margin: auto 0 0 0;
}
.news-date:hover{
	text-decoration: underline;
}
/*End News*/





/*Pupils*/
.pupils{
	flex-grow: 1;
	background: rgba(0,0,0,.0);
	display: flex;
	flex-direction: column;
}

.pupils-h2{
	margin: 20px 0 0 0;
}

.p-slider{
	box-shadow: 2px 1px 10px rgba(0,0,0,.5);
	margin: 10px 20px;
	height: 160px;
	display: flex;
	align-items: center;
	padding: 10px;
}

.p-sl-images{
	height: 100%;
	display: flex;
	flex-grow: 1;
	justify-content: space-around;
}

.p-sl-img-block{
	padding: 0 8px;
	transition: all .6s;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	color: #4f4f4f;
	font-weight: 400;
	font-size: 18px;
	height: 100%;
	border-bottom: 2px solid rgba(255, 131, 0,0);
}

.p-sl-img-block:hover{
	border-bottom: 2px solid rgba(255, 131, 0,1);
}

.p-sl-img-block.active img{
	transform: scale(1.15);
	border: 3px solid #ff8300;
}


.p-sl-img-block img{
	border: 3px solid #fff;
	border-radius: 50%;
}
.p-sl-fullName{
	margin-top: auto;
}

.forward, .back{
	transition: all .4s;
	cursor: pointer;
	align-items: center;
	height: 100%;
	background: #bababa;
	display: flex;
	padding: 0 10px;
}
.forward:hover, .back:hover{
	background: #ccc;
	color: #ff8300;;
}
.pupils .readMore{
	font-size: 18px;
	padding: 6px 25px;
	margin: 0 20px 0 auto;
}
/*End Pupils*/




/*Gallery*/
.gallery{
	display: flex;
	flex-direction: column;
}

.gallery-h2{
	margin: 20px 0 0 0;
}


.photo{
	box-sizing: border-box;
	padding: 20px 20px 10px;
	width: 100%;
/*	margin: 10px 0 0 20px;
*/}

.photo img{
	width: 100%;
	max-width: 840px;
}



.gallery .readMore{
	font-size: 18px;
	padding: 6px 25px;
	margin: 0 20px 0 auto;
}
/*End Gallery*/






/*Footer*/

footer{
	margin: 25px 0 0 0;
	background: #474747;
	display: flex;
	width: 100%;
	border: 1px solid #000;
	justify-content: center;
}

.footer-wrap{
	box-sizing: border-box;
	padding: 10px;
	flex-grow: 1;
	max-width: 1170px;
	display: flex;
	flex-direction: column;
}
.footer-logo{
	margin: 20px auto 0 ;
}
.footer-logo img{
	height: 70px;
}




.contact{
	margin: 0 0 0 20px;
	display: flex;
	flex-direction: column;
}
.contact h3{
	font: 30px RobotoSlabBold,sans-serif;
	color: #00b7f4;
	margin: 30px 0 10px 0;
}
.footer-content{
	justify-content: space-between;
	display: flex;
}
.contact-form{
	box-sizing: border-box;
	padding: 0 0 0 10px;
	display: flex;
	flex-direction: column;
}
.contact-form > *{
	transition: all .3s;
	background: #fff;
	box-sizing: border-box;
	width: 320px;
	border: none;
	font: 16px Roboto,sans-serif;
	color: #484848;
	padding: 8px 14px;
	margin-bottom: 10px;
	border-radius: 2px;
	border: 2px solid rgba(0, 183, 244,0);
}
.f-name:hover, .f-email:hover, .f-message:hover{
	border: 2px solid rgba(0, 183, 244,1);
}
.f-name:focus, .f-email:focus, .f-message:focus{
	border: 2px solid rgba(0, 183, 244,1);
}
.contact-form .send{
	margin: 15px 0 0 0;
	background: #00b7f4;
	color: #fff;
	font: 18px Roboto,sans-serif;
	font-weight: 600;
	padding: 10px 0;
	border: 2px solid #00b7f4;
}
.contact-form .send:hover{
	background: none;
	color: #00b7f4;
}





.footer-info{
	display: flex;
	flex-direction: column;
}

.footer-info h3{
	font: 30px RobotoSlabBold,sans-serif;
	color: #00b7f4;
	margin: 30px 0 10px 0;
}

.school, .personalSite{
	font: 18px Roboto,sans-serif;
	font-weight: 600;
	color: #fff;
	margin: 0 0 15px 10px;
}

.footer-info a{
	color: #fff;
	text-decoration: underline;
}

.footer-info span{	
	font-size: 16;
	font-weight: 400;
	margin: 5px 0 0 15px;
}





.footer-nav{
	display: flex;
	flex-direction: column;
	margin: 0 20px 0 0;
}

.footer-nav h3{
	font: 30px RobotoSlabBold,sans-serif;
	color: #00b7f4;
	margin: 30px 0 10px 0;
}

.footer-nav nav{
	display: flex;
	flex-direction: column;
}

.f-menu-item{
	transition: all .3s;
	margin: 0 auto 0 0;
	padding: 4px 6px;
	display: block;
	text-align: left;
	color: #fff;
	font-size: 18px;
}

.f-menu-item:hover{
	color: rgba(255, 131, 0,1);
}


.copyright{
	color: #fff;
	margin: 10px 0 10px auto;
	font: 16px Roboto,sans-serif;
}