body{
	font-size: 20px;
}

.preloader{
	transition: all .8s .6s;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #B59F5E;
}
.loader{
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.loader-img {
	height: 200px;
}
.loader-text{
	text-align: center;
	font-size: 2em;
	margin: .5em 0 .25em;
	color: #fff;
}
.progres-bar{
	box-sizing: border-box;
	height: 15px;
	width: 300px;
	border: 1px solid #fff;
	border-radius: 8px;
	padding: 3px;
}
.progres-filler{
	transition: all .5s;
	border-radius: 4px;
	height: 100%;
	width: 0%;
	background: #fff;
}


img{
	width: 100%
}

.img-wrap{
	/*display: block;*/
	columns: 3;
}

a{
	color: #333;
	text-decoration: none;
	padding: 5px 8px;
	margin: 10px 10px 10px 0;
	border: 1px solid #333;
	display: inline-block;
	font-family: sans-serif;
}